{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Django博客</title>
{% endblock %}


{% block content %}
    <div class="content">
        {# 轮播图 #}
        <div id="focusslide" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#focusslide" data-slide-to="0" class="active"></li>
                <li data-target="#focusslide" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="javascript: " title="Python">
                        <img src="{% static 'images/Python.jpeg' %}" alt="Python" class="img-responsive"></a>
                </div>
                <div class="item">
                    <a href="javascript:;" title="Scratch">
                        <img src="{% static 'images/Scratch.jpeg' %}" alt="Scratch" class="img-responsive"></a>
                </div>
            </div>
            <a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">上一个</span>
            </a>
            <a class="right carousel-control" href="#focusslide"
               role="button" data-slide="next" rel="nofollow">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">下一个</span>
            </a>
        </div>
        {# 推荐内容 #}
        {% for blogs in recommend %}
            <article class="excerpt-minic excerpt-minic-index">
                <h2>
                    <span class="red">【推荐】</span>
                    {# 文章标签 #}
                    <a target="_blank" href="{% url 'blog_detail' blogs.id %}" title="Spring Boot">{{ blogs.title }}</a>
                </h2>
                {# 文章简介 #}
                <p class="note">{{ blogs.introduce }}</p>
            </article>
        {% endfor %}
        {# 最新发布的文字, 包括分类的文字 #}
        <div class="title">
            <h3>最新发布</h3>
            <div class="more">
                {% for kind in max_category %}
                    <a href="{% url 'blog_list' kind.category__name %}"
                       title="{{ kind.category__name }}">{{ kind.category__name }}</a>
                {% endfor %}
            </div>
        </div>
        {# 所有文章 #}
        {% for blog in now_page.object_list %}
            <article class="excerpt excerpt-1" style="">
                <a class="focus" href="{% url 'blog_detail' blog.id %}" title="Django框架"
                   target="_blank">
                    {# 文章图片 #}
                    <img class="thumb" data-original="{% static 'media/' %}{{ blog.cover }}"
                         src="{% static 'media/' %}{{ blog.cover }}"
                         alt="Django框架" style="display: inline;">
                </a>
                <header>
                    {# 文章分类的名字 #}
                    <a class="cat" href="{% url 'blog_list' blog.category %}" title="Python"
                       target="_blank">{{ blog.category }}<i></i></a>
                    {# 文章名字 #}
                    <h2><a href="{% url 'blog_detail' blog.id %}" title="Django" target="_blank">{{ blog.title }}</a>
                    </h2>
                </header>
                <p class="meta">
                    {# 文章添加时间 #}
                    <time class="time"><i class="glyphicon glyphicon-time">
                    </i> {{ blog.add_time }}
                    </time>
                    {# 点击数 #}
                    <span class="views"><i class="glyphicon glyphicon-eye-open"></i> {{ blog.click_num }}</span>
                    {# 留言数 #}
                    <a class="comment" title="留言">
                        <i class="glyphicon glyphicon-comment"></i> {{ blog.message_num }}
                    </a>
                </p>
                {# 文章简介 #}
                <p class="note">{{ blog.introduce }}</p>
            </article>
        {% empty %}
            <h3 style="text-align: center ;color :red ;margin:100px ">暂无此文章</h3>
        {% endfor %}

        {% include 'pagenation.html' %}
    </div>
{% endblock %}

{% block count_info %}
    <div class="widget widget-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#notice" aria-controls="notice" role="tab" data-toggle="tab">统计信息</a>
            </li>
            <li role="presentation">
                <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">联系站长</a>
            </li>
        </ul>
        <div class="tab-content">
            {# 统计信息 #}
            <div role="tabpanel" class="tab-pane contact active" id="notice">
                <h2>文章总数:
                    {{ blogs_nums }}
                </h2>
                <h2>网站运行:
                    <span id="sitetime">{{ period }} 天</span></h2>
            </div>
            {# 联系站长 #}
            <div role="tabpanel" class="tab-pane contact" id="contact">
                <h2>WX:_Zhil_
                    <a href="" target="_blank" rel="nofollow" data-toggle="tooltip" data-placement="bottom"
                       title="" data-original-title="QQ:853307553"></a>
                </h2>
                <h2>Email:1642249956@qq.com
                    <a href="#" target="_blank" data-toggle="tooltip" rel="nofollow" data-placement="bottom"
                       title="" data-original-title="#"></a>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}
