{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>列表页 - {{ kind }}</title>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="title">
            <h3 style="line-height: 1.3">{{ cate_obj.name }}主题</h3>
        </div>
        {# 所有文章 #}
        {% for blog in now_page.object_list %}
            <article class="excerpt excerpt-1" style="">
                <a class="focus" href="{% url 'blog_detail' blog.id %}" title="{{ blog.title }}"
                   target="_blank">
                    {# 文章图片 #}
                    <img class="thumb" data-original="{% static 'media/' %}{{ blog.cover }}"
                         src="{% static 'images/Django.jpeg' %}"
                         alt="{{ blog.title }}" style="display: inline;">
                </a>
                <header>
                    {# 文章分类的名字 #}
                    <a class="cat" href="javascript:;" title="{{ blog.category }}">{{ blog.category }}<i></i></a>
                    {# 文章名字 #}
                    <h2><a href="{% url 'blog_detail' blog.id %}" title="Django" target="_blank">{{ blog.title }}</a>
                    </h2>
                </header>
                <p class="meta">
                    {# 文章添加时间 #}
                    <time class="time"><i class="glyphicon glyphicon-time">
                    </i> {{ blog.add_time }}
                    </time>
                    {# 点击数 #}
                    <span class="views"><i class="glyphicon glyphicon-eye-open"></i> {{ blog.click_num }}</span>
                    {# 评论数 #}
                    <a class="comment" title="评论">
                        <i class="glyphicon glyphicon-comment"></i> {{ blog.message_num }}
                    </a>
                </p>
                {# 文章简介 #}
                <p class="note">{{ blog.introduce }}</p>
            </article>
        {% empty %}
            <h3 style="text-align: center ;color :red ;margin:100px ">暂无此文章</h3>
        {% endfor %}
        {% include 'pagenation.html' %}
    </div>
{% endblock %}